@import './reset.scss';
@import './fonts.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import '../components/Routing/Loadingwheel/Loadingwheel.scss';
@import '../components/Routing/Routing.scss';
@import '../components/Searchform/Searchform.scss';
@import '../components/Datatable/Datatable.scss';
@import '/node_modules/rc-pagination/assets/index.css';
@import '../components/Dropdown/Dropdown.scss';
@import '../components/DataAddForm/DataAddForm.scss';

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #1b2631;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.disabled {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 12' style='background-color:%23ffffff00' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' x='0px' y='0px' width='10px' height='10px'%0A%3E%3Cg%3E%3Crect x='0' y='0' width='18' height='2'/%3E%3Crect x='0' y='5' width='18' height='2'/%3E%3Crect x='0' y='10' width='18' height='2'/%3E%3C/g%3E%3C/svg%3E");
  width: 10px;
  height: 10px;
}

.activeDown {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' width='10px' height='10px' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' viewBox='0 0 100 100' preserveAspectRatio='none' %3E%3Cpolygon fill='black' points='50 100, 0 0, 100 0'/%3E%3C/svg%3E");
  width: 10px;
  height: 10px;
}

.activeUp {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' width='10px' height='10px' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' viewBox='0 0 100 100' preserveAspectRatio='none' %3E%3Cpolygon fill='black' points='50 0,0 100,100 100'/%3E%3C/svg%3E");
  width: 10px;
  height: 10px;
}

.sorting {
  pointer-events: none;
}
