.pagination {
  margin: 20px auto;
  max-width: 350px;
  .pagination__list {
    display: flex;
    justify-content: center;
    align-items: center;
    .pagination__item {
      margin-right: 10px;
      text-decoration: none;
      width: 20px;
      height: 20px;
      text-align: center;
      padding: 5px;
      border: 1px solid #999;
      cursor: pointer;
      &:last-child {
        margin: 0;
      }
      .pagination__link {
        text-decoration: none;
        color: #f7dc6f;
      }
    }
    .pagination__item_active {
      background-color: #6c8bad;
    }
  }
}
