.Table {
  display: table;
  width: 100%;
  background-color: #1b2631;
  color: #f7dc6f;
  .THeading {
    background-color: #6c8bad;
    color: #fff;
    display: table-header-group;
    font-weight: bold;
    .TRow {
      .THead {
        transition: 0.2s;
        cursor: pointer;
        &:hover {
          background-color: #8ca5bf;
          transition: 0.2s;
        }
      }
    }
  }
  .TBody {
    display: table-row-group;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      background-color: #2d3f52;
      transition: 0.2s;
    }
  }
  .TRow {
    display: table-row;
    .TCell,
    .THead {
      border: 1px solid #999999;
      display: table-cell;
      padding: 3px 10px;
      .THead-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
